@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,600;1,600&display=swap');

.education-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-left: 4rem;
  flex-wrap: wrap;
}

.education h1 {
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.education h2 {
  text-align: left;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 5rem;
}

.eduimage-con {
  flex: 0.4;
  padding-right: 3rem;
  order: 2;  /* Default order for larger screens */
}

.educontent-con {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Added gap between items */
  order: 1 ;  /* Default order for larger screens */
}

.educontent-con .data {
  background-color: rgb(4, 65, 136); 
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  width: 100%;
  height: auto; 
  color: white;
  text-align: left;
  animation: appear1 1s ease-in-out forwards!important; /* Added duration and easing */
  display: flex;
  align-items: center;
}

@keyframes appear1 {
  from { opacity: 0; transform: translateX(-100px); }
  to { opacity: 1; transform: translateX(0px); }
}

.educontent-con .data p {
  letter-spacing: 1px;
  text-align: left;
  padding-top: 9px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  margin-left: .7rem;
  margin-top: .2rem;
}

.educontent-con .data h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: .7rem;
  margin-top: .2rem;
}

.eduwhite-icon {
  width: 50px;
  height: 50px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.icon-container {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: rgb(245, 101, 57);
  position: relative;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
    padding-left: 1rem;
  }
  .eduimage-con {
    order: 1; /* Ensure image is first */
  }
  .educontent-con {
    order: 2; /* Content comes after the image */
  }
  .educontent-con .data {
    width: 100%; /* Full width for smaller screens */
  }
  .education h2 {
    text-align: center;
    margin-right: 5rem;
  }
}
